/* General styles for smaller screens by default */

/* Responsive Nav: Display flex for larger screens */
@media (min-width: 768px) {
  nav ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
  }

  .hamburger {
      display: none;
  }

  /* Adjust nav item margins */
  nav ul li {
      margin: 0 25px;
  }

  /* Main container styles for larger screens */
  main {
      max-width: 700px;
      margin: 40px auto;
      padding: 30px;
  }

  /* Table styling for larger screens */
  table {
      width: 80%;
      margin: 30px auto;
  }
}

@media (min-width: 1024px) {
  main {
      max-width: 900px;
  }

  table {
      width: 70%;
  }
}

/* Table Reflow for Mobile - applied only for larger screens */
@media (min-width: 768px) {
  table {
      display: block;
  }
  
  thead {
      display: none;
  }

  tbody tr {
      display: block;
      margin-bottom: 20px;
  }

  tbody td {
      display: block;
      text-align: right;
      padding-left: 50%;
      position: relative;
  }

  tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }
}

/* Priority Data on Mobile */
@media (min-width: 768px) {
  td:nth-child(3), th:nth-child(3) {
      display: none;
  }

  td:first-child, th:first-child {
      font-weight: bold;
      color: #04443e;
  }
}